/*Contenido*/
.vista_paquetes{
    width: 100%;
    height: 1200px;
    background-color: rgba(239, 243, 239, 1);
    
    
}
.vista_label{
    position: relative;
    top: 20px;
    left: 950px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245, 1);
    max-height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.vista_sctg_paquete{
    text-decoration: none;
    color: rgba(117, 117, 117, 1);
    font-size: 17px;
}
.vista_sctg_paquete :hover{
    border-bottom: 3px solid rgb(129, 129, 136);
}
.vista_seccion1_paquetes{
    display: flex;
    align-items: center; /* Alineación vertical */
}
.vista_paquete{ /*Diseño de los paquetes*/
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 485px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    top: 70px;
    right: 20px;
    left: 180px;
    margin-left: 80px;
    position: relative;
}
/*Paquetes superior*/
.vista_img_one{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/chiapadecorzo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.vista_titlepac {
    color: white;
    width: 250px;
    height: 100px;
    font-size: 10px;
    position: relative;
    top: 165px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* HIPERVINCULOS DE LOS PAQUETES */
.vista_titlepac a {
    text-decoration: none;
    color: white;
}
.vista_titlepac a:hover {
    color: #e3e0e0;
    border-bottom: 4px solid #f7dc6f;
}
.vista_titlelarge a {
    text-decoration: none;
    color: white;
}
.vista_titlelarge a:hover {
    color: #e3e0e0;
    border-bottom: 4px solid #f7dc6f;
}
/* -------- */
.vista_text{
    /* Texto */
    position: relative;
    top: 140px;
    right: 38px;
    width: 180px;
    height: 80px;
    color: #f7dc6f;
    font-weight: bolder;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_descripcion{
    position: relative;
    top: 110px;
    line-height: 1.2;
    text-align: center;  
}
.vista_noches{
    position: relative;
    top: 120px;
    background-color: hsl(48, 70%, 75%);
}

.vista_img_two{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/palenque.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.vista_img_thre{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/sancris.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_seccion2_paquetes{ /*Clase para ordenar los paquetes o movil entre ellos*/
    display: flex;
    align-items: center;
    position: relative;
    top: 40px;
}
.vista_img_cuatro{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/aguaazul.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_img_cinco{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/comitandmg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_img_seis{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/simcotorras.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*Paquetes superior*/

/*
Paquetes intermedio 
*/

.vista_img_intermedio_uno{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/csumidero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_img_intermedio_dos{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/arcote.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_img_intermedio_tres{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/bonampak.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_paquete_intermedio{
    background-color: rgba(255, 255, 255, 1);
    width: 999px;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    top: 70px;
    right: 20px;
    left: 180px;
    margin-left: 80px;
    position: relative;
}
.vista_img_intermedio_cuatro{
    width: 952px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    margin-top: 85px;
    /* Imagen */
    background-image: url(../img/img_paquetes/cascadaschiflon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_titlelarge {
    text-align: left;
    top: 200px;
    color: white;
    width: 440px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_textlarge {
    /* Texto */
    position: relative;
    color: #f7dc6f;
    width: 140px;
    height: 50px;
    top: 250px;
    font-weight: bolder;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_textlarge_moderado{
    position: relative;
    color: #f7dc6f;
    width: 140px;
    height: 50px;
    top: 270px;
    font-weight: bolder;
    font-size: 45px;
}
.vista_p{
    position: relative;
    width: 500px;
    height: 100px;
    left: 200px;
    top: 230px;
}
.vista_p_inter{
    position: relative;
    width: 500px;
    height: 100px;
    left: 200px;
    top: 190px;
}
/*
Paquetes intermedio
*/

/*
Paquetes Moderado
*/
.vista_seccion1_paquetes_mod {
    display: flex;
    align-items: center; /* Alineación vertical */
   margin-left: 165px;
}
.vista_img_moderado_uno{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/marimba.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_img_moderado_dos{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/cristocopoya.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_img_moderado_tres{
    width: 252px;
    height: 247px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 105px;
    /* Imagen */
    background-image: url(../img/img_paquetes/cristocopoya.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.vista_paquete_moderado{
    background-color: rgba(255, 255, 255, 1);
    width: 999px;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    top: 70px;
    right: 20px;
    left: 180px;
    margin-left: 80px;
    position: relative;
}
.vista_img_moderado_cuatro{
    width: 952px;
    height: 275px;
    background-color: rgb(197, 196, 196);
    position: relative;
    bottom: 100px;
    margin-top: 85px;
    /* Imagen */
    background-image: url(../img/img_paquetes/zoomat.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* Texto */
    color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*
Paquetes Moderado
*/

/*
Contenido
*/
