/* Estilos del main de victor */
.blog{
    padding: 30px;
    border-radius: 10px;
    background-color: #e9ecef; /* Fondo  */
    border: 2px solid #343a40; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para consejos de viaje */
.blog_consejos {
    background-color: #ffeeba; 
    border: 2px solid #ffc107; 
    padding: 20px; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Sombra */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición suave */
}

.blog_consejos:hover {
    transform: translateY(-5px); /* Eleva el cuadro */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Estilos para reseñas de clientes */
.blog_resenas {
    background-color: #d1ecf1; 
    border: 2px solid #0c5460; 
    padding: 20px; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s; 
}

.blog_resenas:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
}

/* Estilos para preguntas frecuentes */
.blog_preguntas {
    background-color: #d4edda; 
    border: 2px solid #4d9d5f; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.blog_preguntas:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
}

/* Estilos para noticias y actualizaciones */
.blog_noticias {
    background-color: #f8d7da; 
    border: 2px solid #721c24; 
    padding: 20px; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.blog_noticias:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
}

/* Estilos para políticas de reservas */
.blog_reservas {
    background-color: #e2e3e5; 
    border: 2px solid #6c757d; 
    padding: 20px; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.blog_reservas:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); 
}


/* Estilos para el cuadro de comentarios */
.blog_comentarios {
    background-color: #cce5ff;
    border: 2px solid #004085; 
    padding: 15px;
    border-radius: 8px;
}

/* Estilo del botón de enviar */
.blog_submit-comment {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.blog_submit-comment:hover {
    background-color: #0056b3;
}

/* Estilos para el textarea */
.blog_textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}